/* Sidebar.css */
.sidebar nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.sidebar nav li {
  margin-bottom: 2rem;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar nav a:hover {
  background-color: #3498db;
}

.sidebar nav .active {
  background-color: #e67e22;
}
