/* src/components/Sidebar/Sidebar.css */
.sidebar {
    width: 10%;
    background-color: #3386d8;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.sidebar nav li {
    margin-bottom: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: #3498db;
}

.sidebar nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar nav a:hover {
    background-color: #3498db;
}

.sidebar nav .active {
    background-color: #e67e22;
    color: white;
}

.sidebar nav a:active {
    background-color: #00ff04;
}
